#hero{
  text-align: center;
  hr{
    max-width: 250px;
    margin-top: 40px;
    background: $key-grey;
    box-shadow: none;
    border: 1px solid $key-grey;
  }
}

#hero-ssc{
  text-align: center;
  h1{
    margin-top: 0px;
  }
  p{
    color: $primary;
    font-size: 1.8rem;
    max-width: 500px;
    margin: auto;
    line-height: 2.5rem;
  }
}