.accordion{
  ul{
    li{
      border-bottom: 1px solid $key-grey;
      &.open{
        header{
          background: $bg-blue-grey;
          border-bottom: 1px solid $key-grey;
          border-top: 1px solid $primary;
          &:after{
            transform: rotate(180deg);
            transform: 0.3s all;
          }
        }
        .accordion-body{
          display: block;
        }
      }
      header{
        cursor: pointer;
        padding: 30px;
        color: $primary;
        font-weight: 600;
        position: relative;
        &:after{
          content:"\e022";
          font-family:"bgl-icons";
          color: $secondary;
          font-size: 24px;
          height: 25px;
          width: 25px;
          position: absolute;
          right: 20px;
          top: 50%;
          margin-top: -12px;
          transition: 0.6s all;
        }
      }
      .accordion-body{
        display: none;
        padding: 30px 0 0 0;
        p{

        }
      }
    }
  }
}