.slidepanel{
  position: fixed;
  right: 0;
  height: 100vh;
  width: 90%;
  background: #fff;
  border-left: 1px solid red;
  z-index: 500;
  top: 0;
  overflow: auto;
  padding-bottom: 40px;
  right: -100%;
  transition: 0.6s all;
  &.active{
    right: 0;
    transition: 0.3s all;
  }
  header{
    background: $primary;
    padding: 20px;
    margin-bottom: 40px;
    height: 100px;
    #close-slidepanel{
      position: absolute;
      height: 44px;
      width: 44px;
      background: #fff;
      top: 20px;
      right: 20px;
    }
  }
}

.overlay{
  background: rgba(0,0,0,0.3);
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  opacity: 0;
  z-index: -500;
  transition: 0.6s all;
  &.active{
    left: 0;
    z-index: 0;
    opacity: 1;
    transition: 0.3s all;
  }
}