.button{
	display: inline-block;
	text-align: center;
	border-radius: 50px;
	width: 100%;
	margin: 10px 0;
	font-weight: 500;
	transition: 0.6s all;
	&:hover{ transition: 0.3s all; }
	// Primary and Secondary
	&.primary, &.secondary{
		&:hover{
			background: $link-primary-hover;
		}
		&.inactive{
			color: #fff;
			border: 1px solid;
			background: $link-primary-inactive;
			cursor: not-allowed;
		}
		// Sizes
		&.large{
			max-width: 300px;
			padding: 23px;
			font-size: 16px;
			line-height: 16px;
		}
		&.medium{
			max-width: 300px;
			padding: 18px;
			font-size: 14px;
			line-height: 14px;
		}
		&.small{
			max-width: 125px;
			padding: 15px;
			font-size: 13px;
			line-height: 13px;
			font-weight: normal;
		}
		&.very-small{
			max-width: 100px;
			padding: 7px;
			font-size: 12px;
			line-height: 12px;
			font-weight: normal;
		}
	}
	&.primary{
		background: $secondary;
		color: #fff;
		// Variation: Loading
		&.loading{

		}
	}
	&.secondary{
		border: 1px solid $link-primary-hover;
		color: $link-primary-hover;
		&:hover{ color: #fff; }
		// Variation: Loading
		&.loading{

		}
	}
	/* Download */
	&.download{
		&:before{
			content: "\e011";
			font-family: "bgl-icons";
			vertical-align: middle;
			margin-right: 10px;
			font-size: 28px;
			line-height: 16px;
		}
	}
	// Addons (+ icon suffix)
	&.addons{
		display: inline-block;
		width: auto;
		border: 1px solid $key-grey;
		padding: 18px 50px 18px 30px;
		font-size: 16px;
		line-height: 16px;
		background-image: url('https://fakeimg.pl/20x20/333/fff/');
		background-repeat: no-repeat;
		background-position: 90% 50%;
		&:hover{
			color: #fff;
			background-color: $primary;
			border-color: $primary;
		}
		&.selected{
			border-color: $success;
			background-color: $success;
			color: #fff;
		}
		&.error{
			border-color: $error;
			color: $error;
			&:hover{
				background-color: #fff;
			}
		}
		&.inactive{
			border-color: $key-grey;
			color: $key-grey;
			&:hover{
				cursor: not-allowed;
				background-color: #fff;
			}
		}
	}
}