.cover-bubbles{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto;
  overflow: hidden;
  -webkit-box-align: start;
  display: block;
  li{
    display: inline-block;
    margin: 0 5px 50px 5px;
    button{
      background: none;
      border: none;
      cursor: pointer;
      &:hover{
        figure{
          border: 2px solid $primary;
          transition: 0.3s all;
        }
      }
      figure{
        border: 2px solid transparent;
        background: $key-lighter-grey;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        align-items: center;
        display: flex;
        margin: 0px;
        padding: 0px;
        transition: 0.6s all;
        img{
          margin: auto;
          width: 80px;
          height: 80px;
        }
      }
      figcaption{
        color: $primary;
        margin: 0px;
        padding: 0px;
        margin-top: 10px;
        display: block;
        max-width: 150px;
      }
    }
  }
}