.dialog{
  max-width: 770px;
  width: 100%;
  text-align: center;
  margin: 80px auto;
  overflow: hidden;
  &.warning, &.success{
    header{
      &:before{
        content: "\2c";
      }
    }
  }
  &.warning{
    header{
      background: $error;
    }
  }
  &.success{
    header{
      background: $success;
    }
  }
  header{
    background: $key-grey;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 8px 8px 0 0;
    &:before{
      margin-right: 10px;
      vertical-align: middle;
      font-size: 36px;
      line-height: 36px;
      font-family: "bgl-icons";
    }
  }
  .dialog-message{
    padding: 20px;
    border-bottom: 1px solid $key-light-grey;
    border-left: 1px solid $key-light-grey;
    border-right: 1px solid $key-light-grey;
    border-radius: 0 0 8px 8px;
    p{

    }
    a.download{
      max-width: 415px;
    }
  }
}