#header-primary{
	background: #333333;
	.header__grid{
		display: grid;
		grid-template-columns: 1fr;
	}
	.header__nav{
		background: #222222;
		text-align: right;
		.header__list{
			.header__item{
				color: #aaa;
				display: inline-block;
				margin-right: 10px;
				font-size: 11px;
				&:last-child{margin-right: 0px;}
				.header__item-link{
					background: none;
					border: none;
					color: #aaa;
					cursor: pointer;
					transition: 0.6s all;
					&:hover{
						color: #fff;
						transition: 0.3s all;
					}
				}
			}
		}
	}
	.header__bottom-links{
		padding: 20px 0;
		.header__logo{
			display: inline-block;
		}
	}
}