.inline-toggle{
	border: none;
	background: none;
	color: $secondary;
	font-weight: 600;
	position: relative;
	border-bottom: 2px solid $secondary;
	cursor: pointer;
	display: inline-block;
	&:after{
		content:"\e022";
		font-family:"bgl-icons";
		font-size: 24px;
		margin-left: 10px;
		vertical-align: middle;
	}
	&-options{
		display: none;
		position: absolute;
		left: 0;
		border: 1px solid $key-grey;
		background: #fff;
		width: 250px;
		top: calc(100% + 20px) ;
		border-radius: 5px;
		overflow: hidden;
		&.active{
			display: block;
		}
		ul{
			li{
				border-bottom: 1px solid $key-grey;
				display: block;
				font-size: .9375rem;
				color: $charcoal;
				width: 100%;
				button{
					background: none;
					border: none;
					width: 100%;
					padding: 20px;
					display: block;
					height: 100%;
					text-align: left;
					cursor: pointer;
					position: relative;
					&.selected{
						font-weight: 600;
						&:after{
							position: absolute;
							right: 20px;
							content:"\68";
							color: $success;
							font-size: 32px;
							line-height: 24px;
							vertical-align: middle;
							font-family: "bgl-icons";
						}
					}
				}
			}
		}
	}
}