.legal-module{
  border-bottom: 1px solid $key-light-grey;
  padding-bottom: $spacing;
  margin-bottom: 40px;
  h6{
    font-size: 14px;
    color: $charcoal;
  }
}

/* Remove border bottom on last of type */
.col .legal-module:last-of-type {
  border-bottom: none;
}