.feature-list{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: $spacing;
  overflow: hidden;
  &:after{
    content:"";
    clear: both;
    height: 0px;
    width: 100%;
    display: block;
  }
  li{
    width: 100%;
    max-width: 33.33%;
    flex: 0 0 33%;
    margin: 0.5rem 0;
    button{
      display: block;
      border: none;
      background: none;
      color: $primary;
      padding: 0px;
      font-size: 1.375rem;
      position: relative;
      &:after{
        content:"";
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: -3px;
        left: 0;
        transition: 0.3s all;
      }
      &:after{ background: $primary; opacity: 0.35; }
      &:before{
        content:"\e021";
        font-size: 1.5rem;
        vertical-align: middle;
        font-family: "bgl-icons";
        margin-right: $spacing;
      }
    }
    small{
      display: block;
      width: 65%;
      margin-top: $spacing;
      font-size: 13px;
      font-weight: lighter;
      color: #979797;
      letter-spacing: 0;
      line-height: 20px;
      text-align: left;
    }
  }
}

/* Checkmarks and Bullets */
ul.checks, ul.bullets{
  li{
    padding-left: 40px;
    background-repeat: no-repeat;
    margin: 30px 0;
    line-height: 1.6;
  }
}

/* Checkmark */
ul.checks{
  li{
    background-image: url('../images/icon-tick.svg');
    background-size: 24px;
    background-position: 0 0;
  }
}

/* Bulletpoints */
ul.bullets{
  li{
    background-image: url('../images/icon-bulletpoint.svg');
    background-size: 8px;
    background-position: 8px 8px;
  }
}