// @Default: Single icon
// @Classes: 
// Append '.profile-icons-plus-1' to the <li> to add the '+1' icon.
// Append '.profile-icons-add' to the <li> to add the plus icon.
// Refer to component list for further clarification.
.profile-icons{
	margin: 20px auto;
	&.large{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content:  center;
		display: block;
		width: 100%;
		text-align: center ;
		li{
			max-width: 200px;
			display: inline-block;
			margin-left: -30px;
			&:first-child{ margin-left: 0px;}
			.profile-icon-initials{
				height: 200px;
				width: 200px;
				border-width: 10px;
				&:after{
					font-size: 3.5rem;
				}
			}
			.profile-icon-name{
				font-size: 16px;
				line-height: 16px;
				margin-top: 15px;
				margin-bottom: 5px;
				display: block;
			}
		}
	}
	li{
		display: inline-block;
		text-align: center;
		margin: 10px auto;
		vertical-align: top;
		a{ text-decoration: none; }
		// Variation:'+1' icon (show +1 in circle`)
		&.profile-icons-plus-1{
			.profile-icon-initials{
				z-index: -1;
				border-color: transparentize($charcoal, .3);
				&:before{
					background: $charcoal;
				}
				&:after{
					font-weight: lighter;
				}
			}
		}
		// Variation: '+'' icon (show + in circle)
		&.profile-icons-add{
			.profile-icon-initials{
				border-color: $secondary;
				&:before{
					background: none;
				}
			}
			.profile-icon-name{
				color: $secondary;
			}
		}
		// Default (Show initials in circle)
		.profile-icon-initials{
			height: 110px;
			width: 110px;
			border: 5px solid $primary-20;
			//background: $primary;
			display: block;
			border-radius: 50%;
			position: relative;
			&:before{
				content:"";
				height: 100%;
				width: 100%;
				background: transparentize($primary,.05);
				position: absolute;
				left: 0;
				top: 0;
				border-radius: 50%;
			}
			&:after{
				content: attr(data-initials);
				height: 100%;
				width: 100%;
				vertical-align: middle;
				position: absolute;
				color: #fff;
				left: 0;
				top: 0;
				font-size: 2.75rem;
				line-height: 2.75rem;
				font-weight: 400;
				padding-top: calc( 50% - 1.375rem );
			}
		}
		.profile-icon-name{
			text-transform: uppercase;
			color: $primary;
			font-weight: 600;
			font-size: .8125rem;
		}
		small{
			display: block;
			font-size: 13px;
			line-height: 13px;
			font-weight: lighter;
			text-transform: uppercase;
		}
	}
}