// Brand colours
$primary:						#6859A3;
$secondary:						#44C0FF;
$tourquoise:					#20A1C3;
$plum: 							#951B81;
$green: 						#7DAD27;
$lime: 							#CCC816;
$teal: 							#4CB7B5;

// Brand tints
$primary-80: 					transparentize($primary, 0.2);
$primary-20:					transparentize($primary, 0.8);
$primary-5:						transparentize($primary, 0.95);
$secondary-20:					transparentize($secondary, 0.8);
$secondary-10:					transparentize($secondary, 0.9);

// Support colours
$error:							#F56565;
$success:						#4F9F31;
$warning:						#FFD209;

// Grey / text
$charcoal: 						#4A4A4A;
$light-grey:					#979797;

// Backgrounds
$bg-blue-grey:					#F5F7FA;
$bg-light-grey:					#F6F6F6;
$bg-lighter-grey:				#FAFAFA;

// Key lines
$key-dark-grey:					#1D1E20;
$key-grey:						#DADADA;
$key-light-grey:				#E5E5E5;
$key-lighter-grey:				#F4F4F4;

// Links
$link-primary:					$secondary;
$link-primary-hover:			#148BDC;
$link-primary-pressed:			#006EB3;
$link-primary-inactive:         #d8dadb;

$link-secondary:				$secondary;
$link-secondary-hover: 			$primary;
$link-secondary-pressed:		#6859A3;

// Typgoraphy
$font-family:					'Open Sans', sans-serif;

// Proximity
$spacing:                       10px;