// @Font: Open Sans

// @Light: To be used for all body copy.
// @Regular: to be defined most likely body copy when certain size.
// @Medium: Used for sub headers and copy above 16px;
// @Bold: For headers and highlighting key points in body copy and important text links
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

/* Icon Library */
//@import url('https://file.myfontastic.com/zms4Rhuv766W2h3HK8uKeE/icons.css');

body,h1,h2,h3,h4,h5,h6{
	font-family: $font-family;
}

h1,h2,h3,h4,h5,h6{
	margin-top: 20px;
	margin-bottom: 20px;
}

h1{
	color: $primary;
	font-size: 40px;
	font-weight: lighter;
	letter-spacing: 0.2;
	line-height: 56px;
	&.bold, strong, b{
		font-weight: bold;
	}
	// Hero only
	&.zero{
		font-size: 50px;
		font-weight: lighter;
		letter-spacing: 0.3;
		line-height: 70px;
		.bold, strong{
			font-weight: bold;
		}
	}
}

h2{
	color: $primary;
	font-size: 30px;
	letter-spacing: 0.1;
	line-height: 42px;
	font-weight: normal;
	&.light{
		font-weight: lighter;
	}
	&.bold, strong, b{
		font-weight: bold;
	}
}

h3{
	color: $primary;
	font-size: 24px;
	letter-spacing: 0.0; 
	light-height: 33px;
	font-weight: lighter;
	&.bold, strong, b{
		font-weight: bold;
	}
}

h4{
	color: $charcoal;
	font-size: 20px;
	letter-spacing: 0.0;
	line-height: 28px;
	font-weight: normal;
	&.medium{
		font-weight: 500;
	}
	&.bold, strong, b{
		font-weight: bold;
	}
}

h5{
	color: $charcoal;
	font-size: 16px;
	letter-spacing: 0.0;
	line-height: 22px;
	font-weight: normal;
	&.medium{
		font-weight: 500;
	}
	&.bold, strong, b{
		font-weight: bold;
	}
}

h6{
	color: $light-grey;
	font-size: 13px;
	letter-spacing: 0.0;
	line-height: 18px;
	font-weight: normal;
	&.medium{
		font-weight: 500;
	}
	&.bold, strong, b{
		font-weight: bold;
	}
}

body{
	color:$charcoal;
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 0;
	line-height: 29px;
	a{
		font-weight: normal;
	}
}

small{
	color:$charcoal;
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 0;
	line-height: 29px;
}
p{
  strong{
    font-weight: 500;
  }
}
p.legal-text{
	font-size: 13px;
	font-weight: lighter;
	color: $light-grey;
	letter-spacing: 0;
	line-height: 20px;
	@media screen and (max-width: 767px){
		font-size: 12px;
		line-height: 19px;
	}
}

strong{
	font-weight: 600;
}

// Inline links
a.link{
	position: relative;
	letter-spacing: 0;
	transition: 0.6s all;
	&:after{
		content:"";
		height: 1px;
		width: 100%;
		position: absolute;
		bottom: -3px;
		left: 0;
		transition: 0.3s all;
	}
	// Primary
	&.link-primary{
		font-weight: bold;
		color: $secondary;
		&:after{ background: $secondary; opacity: 0.35; }
		&:hover{
			color: $link-primary-hover;
			&:after{ opacity: 1; }
		}
		&:focus{
			color: $link-primary-pressed;
			&:after{ opacity: 1; }
		}
	}
	// Secondary
	&.link-secondary{
		color: $primary;
		&:after{ background: $primary; opacity: 0.25; }
		&:hover{
			color: $link-primary-hover;
		}
		&:focus{
			color: $link-secondary-pressed;
		}
	}
	&.link-external{
		color: $primary;
		position: relative;
		padding-left: 30px;
		&:before{
			content:"\59";
			font-family: "bgl-icons";
			display: inline-block;
			height: 16px;
			width: 16px;
			font-size: 16px;
			line-height: 16px;
			left: 0;
			position: absolute;
			bottom: 0px;
		}
		&:after{
			background: $primary;
			opacity: 0.25;
			width: calc(100% - 30px);
			left: 30px;
		}
	}
}