/* Misc helper classes */
.body-wrap{
  max-width: 770px;
  margin: auto;
  width: 100%;
}
.text-center{ text-align: center;}
.text-right { text-align: right; }
.text-left { text-align: left; }
.float-left { float: left; }
.float-right { float: right; }
.relative { position: relative; }
.inline-block { display: inline-block; }
.block { display: block; }
.auto{ margin: auto; }
.align-base { align-items: baseline; }
.overflow-hidden { overflow: hidden; }
.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Backgrounds */
.bg-grey{
  background: $bg-lighter-grey;
  overflow: hidden;
}

section{
  padding: 60px 0;
}

.align-center{
  align-items: center;
}

.container{ max-width: 1200px; margin: auto;}